pkgbase = bazel
	pkgdesc = Correct, reproducible, and fast builds for everyone
	pkgver = 7.0.1
	pkgrel = 1
	url = https://bazel.build/
	arch = x86_64
	license = Apache
	makedepends = git
	makedepends = protobuf
	makedepends = python
	depends = java-environment=11
	depends = libarchive
	depends = zip
	depends = unzip
	options = !distcc
	options = !strip
	source = https://github.com/bazelbuild/bazel/releases/download/7.0.1/bazel-7.0.1-dist.zip
	source = https://github.com/bazelbuild/bazel/releases/download/7.0.1/bazel-7.0.1-dist.zip.sig
	validpgpkeys = 71A1D0EFCFEB6281FD0437C93D5919B448457EE0
	b2sums = 6e6cd7dc6ada5938dd8a47e0cb7d46bfbfd1950fe3ee6fdbadc812197ab180d604ef8e1b8f8c247b920bd6e74abc2f8b066931af0ebb9337372153175f53277e
	b2sums = SKIP

pkgname = bazel
