pkgbase = bazel
	pkgdesc = Correct, reproducible, and fast builds for everyone
	pkgver = 7.3.1
	pkgrel = 1
	url = https://bazel.build/
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = protobuf
	makedepends = python
	depends = java-environment=21
	depends = libarchive
	depends = zip
	depends = unzip
	depends = which
	options = !debug
	options = !strip
	source = https://github.com/bazelbuild/bazel/releases/download/7.3.1/bazel-7.3.1-dist.zip
	source = https://github.com/bazelbuild/bazel/releases/download/7.3.1/bazel-7.3.1-dist.zip.sig
	source = bazel-7.0.2-python_312.patch
	validpgpkeys = 71A1D0EFCFEB6281FD0437C93D5919B448457EE0
	b2sums = f74aa05e115c8e25119e5d8c159fc2f241bbe5f8e82dac125b52d921c5f0c9e09ba9ba21ce7bd53baf538c9cd095072629beeab51f8faf5f406cbbad149bfd87
	b2sums = SKIP
	b2sums = e13a9c5b43336941d1bb35685d6bf8761b70349aca705ff6202018180e7291efcb4dbf8415ad9c788dcf6f5d956cbca8e1d8a8b663a504dd537e6f682ad04202

pkgname = bazel
